{% extends 'base.html' %} {% block content %}

<div class="homepage-container">
<h1 class="page-title">Listing Details</h1>

<div class="listing-index show-index">
  <a href="{% url 'detail' listing.id %}">{{ listing.address }}
    </a>
    <ul>
      <li>${{ listing.price }}</li>
      <li>{{ listing.sqft }} sqft</li>
    </ul>
    <p>{{ listing.description }}<p>
</div>
<div class="edit-delete-show">
  <a href="{% url 'listings_update' listing.id %}">Edit</a>
  <a href="{% url 'listings_delete' listing.id %}">Delete</a>
</div>

<div class="photo-container">
  {% if listing.photo_set.all %}
    {% for photo in listing.photo_set.all %}
      <img class='list-image' src="{{ photo.url }}">
    {% endfor %}
   <h1 class="listing-photo-title"> {{ listing.address }} </h1>
  {% else %}
    <img class='list-image' src="../../static/images/cartoon.jpeg" alt="Default Image">
    <p>No Photos Uploaded</p>
    <form action="{% url 'add_photo' listing.id %}" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <input class='photo-option' type="file" name="photo-file">
      <button class='add-listing-btn photo-option' type="submit">Upload Photo</button>
    </form>
  {% endif %}
</div>
  
<div class="agent-container">

<div class="available-agents">
  <h3>{{ listing.address }}'s Agents</h3>
  {% if listing.agents.count %} {% for agent in listing.agents.all %}
  <div class="available-agents-form">
    <p>
      {{ agent.name }}
    </p>
    <form action="{% url 'de_assoc_agent' listing.id agent.id %}" method="POST">
      {% csrf_token %}
      <button class='agent-btn agent-remove' type="submit">Remove</button>
    </form>
  </div>
  {% endfor %} {% else %}
  <h5>No Agents currently assigned</h5>
  {% endif %}
</div>

  <div class="available-agents">
    <h3>Available Agents</h3>
    {% if agents.count %} {% for agent in agents.all %}
    <div class="available-agents-form">
    <p>{{ agent.name }}</p>
    <form  action="{% url 'assoc_agent' listing.id agent.id %}" method="POST">
      {% csrf_token %}
      <button class='agent-btn' type="submit">Add Agent</button>
    </form>
  </div>
    {% endfor %} {% else %}
    <h5>All agents are already assigned for {{listing.address}}!</h5>
    {% endif %}
  </div>
  </div>

{% endblock %}