{% extends 'base.html' %}
{% block content %}

<h1>Listing Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ listing.address }}</span>
    <p>Price: {{ listing.price }}</p>
    <p>Description: {{ listing.description|linebreaks }}</p>
    <p>sqft: {{ listing.sqft }}</p>
  </div>
  <div class="card-action">
    <!-- <a href="{% url 'listings_update' listing.id %}">Edit</a>
    <a href="{% url 'listings_delete' listing.id %}">Delete</a> -->
  </div>
</div>

{% endblock %}