{% extends 'base.html' %}

{% block content %}
<div class="homepage-container">
  {% if object %}
    <h1 class="page-title">Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1 class="page-title">Add Agent</h1>
  {% endif %}
  <form class="add-agent-container" action="" method="post">
    {% csrf_token %}
    <table class="agent-form">
      {{ form.as_table }}
    </table>
    {% if object %}
    <input class='add-listing-btn' type="submit" value="Edit Agent" class="btn">
    {% else %}
    <input class='add-listing-btn' type="submit" value="Add Agent" class="btn">
    {% endif %}
  </form>
</div>
{% endblock %}