{% extends 'base.html' %}
{% block content %}


<div class="homepage-container">
<h1 class="page-title">Welcome to HomeHarbor!</h1>
<div class="homepage-panels">
    <div class="panel">
    <h1>View Listings</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, nostrum?</p>
    <a href="{% url 'index_all' %}">Listings</a>
    </div>
    <div class="panel">
        <h1>Create Account</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, nostrum?</p>
        <a href="{% url 'signup' %}">Sign Up</a>
        
    </div>
    <div class="panel"> 
        <h1>Browse Agents</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, nostrum?</p>
        <a href="{% url 'agents_index' %}">Agents</a>
    </div>
</div>
</div>

{% endblock %}